body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.sidebar {
  width: 20%;
  height: 100vh;
  float: left;
}

.searchResults {
  width: 80%;
}
